<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/img/acceso.png" alt="">
    <h1>Login</h1>
    <div class="col-sm-10">
      <input type="text" [(ngModel)]="username" class="form-control-plaintext borde" placeholder="Ingresa Username">
      <label class="col-sm-2 col-form-label">Usermail</label>
    </div>
    <div class="col-sm-10">
      <input type="password" [(ngModel)]="password" class="form-control-plaintext borde">
      <label class="col-sm-2 col-form-label">Password</label>
    </div>
    <div class="d-grid gap-2">

      <button type="button" (click)="ingresar()" class="btn btn-primary bt-lg">Ingresar</button>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
