<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="container" *ngIf="!loading">
  <div class="title">
    <h4>Listado de Eventos</h4>
    <button type="button" class="btn btn-primary" routerLink="/agregraEvento">Agregar Evento</button>
  </div>

  <table *ngIf="listaEventos.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre Evento</th>
        <th scope="col">Fecha Evento</th>
        <th scope="col">Ubicacion Evento</th>
        <th scope="col">Descripcion Evento</th>
        <th scope="col">Organizador</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of listaEventos" class="table-active">
        <td>{{ e.id_evento }}</td>
        <td>{{ e.nombre_evento }}</td>
        <td>{{ e.fecha_evento }}</td>
        <td>{{ e.ubicacion_evento }}</td>
        <td>{{ e.descripcion_evento }}</td>
        <td>{{ e.organizador_id }}</td>
        <td>
          <button routerLink="/editarEvento/{{ e.id_evento }}" type="button" class="btn btn-info btn-sm">Editar</button>
          <button (click)="eliminarEvento(e.id_evento!)" type="button"
            class="btn btn-danger btn-sm ms-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="listaEventos.length == 0" class="shadow p-2 rounded bg-light">
    <h3 class="text-center text-dark">Sin Eventos para Ver!!!</h3>
  </div>
</div>
